html {
  background-size: 100%;
  margin: 0px;
}

body {
	background-image: url('/images/catBG.jpg');
	background-size: 120%;
	background-repeat: no-repeat;
	background-attachment: fixed;

	#container {

		.inputComponentDiv {
			display: flex;
			flex-direction: row;
			margin-top: 8%;
			margin-left: 5%;
			width:100%;
			
			form {
				display:flex;
				flex-direction: row;
				align-items: center;

				button {
					width: 87px;
					padding: 5px;
					border-radius: 3px;
				}
			}
		}
	}
}
