html {
  background-size: 100%;
  margin: 0px;
}
body {
  background-image: url('/images/catBG.jpg');
  background-size: 120%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
body #container div {
  display: flex;
  flex-direction: row;
  margin-top: 8%;
  margin-left: 5%;
}
body #container div .inputComponentDiv {
  width: 100%;
}
body #container div .inputComponentDiv form {
  display: flex;
  flex-direction: row;
}
body #container div .inputComponentDiv form button {
  width: 87px;
  padding: 5px;
  border-radius: 3px;
}
